.sidebar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem 2rem 1rem;
  /* border-left: 2px solid hsl(0, 0%, 90%);
  background-color: var(--container-color);
  height: auto; */
}

.sidebar__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.about__title {
  border-top: 1px solid var(--title-color);
  border-bottom: 1px solid var(--title-color);
  font-family: var(--varela-font);
  color: hsl(0, 0%, 30%);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 0 0 2rem 0;
  width: 200px;
  text-align: center;
}
.sidebar__list {
  display: grid;
  grid-template-columns: 2fr max-content;
  column-gap: 1rem;
  align-items: center;
  font-family: var(--josefin-font);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.sidebar__list-item {
  margin-bottom: 1.5rem;
  color: hsl(0, 0%, 40%);
}

.sidebar__social {
  display: flex;
  column-gap: 1.2rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.header__social-icon {
  color: var(--title-color);
}
