:root {
  /* ============== Colors =============== */

  --container-color: #eff5f5;
  --title-color: #041c32;
  --text-color: #04293a;
  --button-color: #064663;
  --button-second: #ecb365;
  /* ============== Font =============== */
  --josefin-font: "Josefin Sans", sans-serif;
  --lora-font: "Lora", serif;
  --varela-font: "Varela", sans-serif;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
  width: 100%;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
