.post__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.post__content {
  width: 460px;
  margin: 2rem 1rem 1rem 3rem;
  border: 2px solid var(--container-color);
}
.post__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.Post__title {
  font-family: var(--josefin-font);
  font-size: 18px;
  color: var(--title-color);
}
.post__catagories {
  font-family: var(--lora-font);
  margin: 0.75rem 0 0.5rem 0;
  color: var(--text-color);
  font-size: 14px;
}

.post__date {
  color: var(--text-color);
  font: var(--lora-font);
  font-size: 12px;
  font-style: italic;
}
