.header {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  padding-top: 0.75rem;
  font-family: var(--josefin-font);
  z-index: 2;
}

.nav__container {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem 2rem 3rem;
}
.header__logo {
  align-items: center;
  text-align: center;
}
.header__logo-text {
  font-family: var(--lora-font);
  font-size: 22px;
  color: var(--title-color);
  font-weight: 800;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
.header__img {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  object-fit: cover;
}

.header__search-icon {
  font-size: 18px;
  cursor: pointer;
}
.header__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  color: var(--title-color);
}
