:root {
  /* ============== Colors =============== */

  /* ============== Font =============== */
  --josefin-font: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
