.login__containenr {
  height: calc(100vh - 5.3rem);
  background: url(https://cdn.pixabay.com/photo/2020/02/05/15/47/natural-4821583_960_720.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12%;
}
.login__input {
  display: flex;
  flex-direction: column;
}

.login__input label {
  margin-bottom: 0.5rem;
  font-family: var(--josefin-font);
  font-size: 16px;
  color: var(--button-color);
  font-weight: 600;
}
.login__input input {
  border: none;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--container-color);
  border-radius: 1rem;
  width: 300px;
  color: var(--text-color);
  font-family: var(--lora-font);
  font-size: 14px;
}
.login__button {
  background-color: var(--button-color);
  border-radius: 1rem;
  padding: 0.7rem 1.9rem;
  color: var(--container-color);
  font-family: var(--lora-font);
  font-weight: 600;
  font-size: 14px;
}
.login__button:disabled {
  cursor: not-allowed;
  background-color: var(--button-second);
}
.login__title {
  font-family: var(--lora-font);
  font-size: 35px;
  font-weight: 600;
  color: var(--button-color);
}
